server:
  error:
    include-stacktrace: on_param

spring:
  application:
    name: builders-project
  datasource:
    url: jdbc:mysql://localhost:3307/builders?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG

  info:
    env:
      enabled: true

info:
  app: Builders project by Matheus Rudek
  github: https://github.com/MatheusRdk/

api:
  security:
    token:
      secret: ${JWT_SECRET:my-secret-key}